@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #FEFBF6;
    padding: 150px 0 100px 0;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: #faf1e2; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding-left: 20px;
    padding-right: 20px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}


.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;

    display: block;
}

.menu .navbar ul li a.in {
    color: #b3d0c5;
}

.menu .navbar ul li a.sm {
    color: #f0b57d;
}

.menu .navbar ul li a.ser {
    color: #eb8788;
}

.menu .navbar ul li a.ct {
    color: #e6ca11;
}

.menu .navbar ul li a:hover{
    color: #cb6847;
}

.logo img {
   width: 40px;
    color: #02B1F4;
    text-transform: uppercase;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    line-height: 1;
    color: #323232;
    text-transform: uppercase;
    font-size: 75px;
    margin-bottom: 10px;
}

.header-txt h2 {
    font-size: 20px;
    color: #818181;
    margin-top: 20px;
    margin-bottom: 15px; 
}

.header-txt p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 45px;
}

.header-img {
    width: 50%;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #b3d0c5;
    color: #ffffff;
    border-radius: 15px;
}

.btn-1:hover {
    background-color: #8ac7b0;
}

.about {
    padding: 100px 0;
    display: flex;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 500px;
    border-radius: 15px;
}

.about-txt {
    width: 50%;
    margin-left: 25px;
}

.about-txt h2 {
    color: #484747;
    font-size: 50px;
    margin-bottom: 15px;
}

.about-txt p {
    font-size: 16px;
    color: #818181;
}

.info h3 {
    font-size: 30px;
    color: #484747;
    margin-top: 50px;
}

.info-1 {
    display: inline-block;
    width:fit-content;
 
}

.info-1-links {
    text-align: center;
}

.links {
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    display: inline-block;
    width: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: 40px;
    margin-top: 50px;
    vertical-align: top; /* Alinea los elementos en la parte superior */
    box-sizing: border-box;
} 

.links h3 {
    font-size: 20px;
    color: #e6ab78;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: bold;
    padding-right: 20px;
}


.links ul li a {
    font-size: 16px;
    margin-bottom: 10px;
    color: #545454;
}

.links ul li a:hover {
    color: #8ac7b0;
}



.servicios {
    padding: 50px 0 100px 0;
    text-align: center;
    background-color: #FEFBF6;
}

.servicios h2 {
    color: #484747;
    font-size: 50px;
    margin-bottom: 15px;
}

.servicios-content {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.servicios-1 {
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 20%);
}

.servicios-1 i {
    font-size: 30px;
    color: #eb8788;
    margin-bottom: 15px;
    font-weight: bold;
}

.servicios-1 h3 {
    font-size: 20px;
    color: #323232;
    text-transform: capitalize;
}

.contacto {
    padding: 15px 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    width:50%; 
}

.contacto h2 {
    font-size: 35px;
    color: #484747;
    line-height: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contacto h5 {
    font-size: 16px;
    padding: 20px;
    color: #545454;
    text-align: center;
}

.contacto h1 {
    font-size: 35px;
    color: #e6ab78;
}

.footer {
    padding: 50px;
    background-color: #FEFBF6;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link ul li {
    margin-right: 50px;
}

.link ul li a {
    font-size: 17px;
}

.link ul li a.in {
    color: #b3d0c5;
}

.link ul li a.sm {
    color: #f0b57d;
}

.link ul li a.ser {
    color: #eb8788;
}

.link ul li a.ct {
    color: #e6ca11;
}

.menu .navbar ul li a:hover{
    color: #cb6847;
}

.link ul li a:hover {
    color: #cb6847;
}

@media (max-width: 990px) {
    .menu {
        padding: 20px;
    }
    
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 90px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
    }

    .header-txt {
        text-align:left;
        width: 90%;
        margin-bottom: 25px;
    }
    
    .header-txt h1 {
        font-size: 65px;
    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        width: 100%;
    }

    .about {
        padding: 30px;
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        order: 2;
    }

    .about-img img {
        width: 100%;
    }

    .about-txt {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 25px;
    }

    .servicios {
        padding: 30px;
    }

    .servicios-content {
        margin-top: 25px;
        flex-direction: column;
    }

    .servicios-1 {
        margin-bottom: 20px;
    }

    .contacto {
        width: 100%;
        padding: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }


    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        flex-direction: column;
    }

    .link ul li {
        margin: 0 0 15px 0;
    }



}