
h1{font-size: 1.8em;}
h2{font-size: 1em;}
p{font-size: 0.5em;}

header{
    height: 15vh;
}

/* Estilo para la imagen en el encabezado */
header img {
    width: 30px; /* Ancho deseado para la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin-right: 1px; /* Espacio entre la imagen y el texto */
    margin-left: 28px;
    margin-top: 20px;
}

/* Estilo para el texto que dice "Inicio" */
.logo{
    display:inline;
    font-family: 'roboto', sans-serif;
    font-size: 1.05em;
    color:  #747d8c9f;
    position: relative; /* Agrega posición relativae independiente de la imagen */
    top: -10px; /* mueve vertical el texto */
}


/* Estilo para los textos del principio */
.parrafo{
    display: flex; /* Activa las carateristicas de "flex-direction","align-items" */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: azure;
    .color-acento{ color: #16D298;}
}

/* Estilo para el textos h2 del principio */
.parrafo h2 {
    margin-top: 20px; /* quita margen */
	width: 80%;

}


/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 110%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: linear-gradient(#282829, #1f1f20); /* Fondo degradado de dos colores */
}

body {
    font-family: 'roboto', sans-serif;
}

/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: #1FDF64;
	border: 0 none;
	border-radius: 10px;
	padding: 20px 20px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ffffff;
	border-radius: 8px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
    font-family: 'roboto', sans-serif;
	background-color: #ffffff;/* color de input de respuestas*/
	color: #2C3E50;
	font-size: 12px;/*Tamaño de letra en campo de respuestas*/
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #000000c5;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  	text-decoration: none;
  	font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 1px rgb(22, 186, 19), 0 0 0 3px #103cc1;
}
/*Texto dentro de los formularios*/
.fs-title {
	font-size: 13px;
	color: #000000;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	color: #000000c6;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

/*Texto de barra de progreso*/
#progressbar li {
	list-style-type: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #000000;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px; /*grosor de linea conectora*/
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{

	background: #1FDF64;
	color: rgb(0, 0, 0);

}

/*estilos de las preguntas*/
label {
	font-family: 'roboto', sans-serif;
	color: #00000086;
	display: block; /* Coloca cada etiqueta en una línea separada */
	text-align: left; /* Alinea el texto de la etiqueta a la izquierda */
	margin-top: 10px; /* Agrega espacio entre las etiquetas y los campos de entrada */
	margin-bottom: 5px;
	font-size: 11px;
}


/*---------------------------------------------------INICIO--------transiciones-------------------*/

/* Estilos generales para los fieldsets */
fieldset {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  /* Estilo para el fieldset activo */
  fieldset.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .next:hover, .previous:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para los títulos de los fieldsets */
  .fs-title {

    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .fs-subtitle {
	font-family: 'roboto', sans-serif;
    font-size: 16px;
    color: #070707;
    margin-bottom: 20px;
}
/*-----------------------------------------------------FIN--------transiciones-------------------*/

/*-----------------------------INICIO--------responsive------------------------------------------------------*/

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 600px) {
    /* Ajusta el tamaño del formulario y sus elementos aquí */
    #msform {

        width: 100%;
        margin: 50px auto;

    }
    
    /* Ajusta otros estilos según sea necesario */
    /* Por ejemplo, puedes reducir el tamaño del texto o los márgenes */
    .fs-title {
		font-family: 'roboto', sans-serif;
        font-size: 16px;
    }
    
    /* Asegúrate de adaptar los estilos según tus necesidades específicas */
}

/*-----------------------------INICIO--------responsive------------------------------------------------------*/


/* Estilo para el fondo de la barra de estado en dispositivos móviles */
@media screen and (min-width: 576px) {
    body {
        background-color: #000000; /* Reemplaza "tu-color-aqui" con el color deseado */
    }
}